@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-[Raleway];
        @apply scroll-smooth;
    }

    li {
        @apply px-4;
        @apply cursor-pointer;
        @apply hover:text-mainGoldColor;
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 180px;
}

.content-div:hover {
    background-image: linear-gradient(to right,
            rgba(222, 165, 87, 0.2),
            hsla(36, 65%, 54%, 0.5)) !important;
}
